name: Release

on:
  push:
    tags:
      - '*'

jobs:
  create-release:
    name: Create GitHub Release
    runs-on: macos-14
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install Mise
      uses: jdx/mise-action@v2
      with:
        version: 2024.1.0
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer
    
    - name: Generate and Build
      run: |
        tuist install
        tuist generate
        xcodebuild build \
          -scheme RBSOdometer \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' \
          -configuration Release \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO
    
    - name: Create Release Archive
      run: |
        xcodebuild archive \
          -scheme RBSOdometer \
          -archivePath ./build/RBSOdometer.xcarchive \
          -destination 'generic/platform=iOS' \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          SKIP_INSTALL=NO \
          BUILD_LIBRARY_FOR_DISTRIBUTION=YES
    
    - name: Create XCFramework
      run: |
        xcodebuild -create-xcframework \
          -framework ./build/RBSOdometer.xcarchive/Products/Library/Frameworks/RBSOdometer.framework \
          -output ./build/RBSOdometer.xcframework
        cd build && zip -r RBSOdometer.xcframework.zip RBSOdometer.xcframework
    
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./build/RBSOdometer.xcframework.zip
        generate_release_notes: true
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
